<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brh.mapper.UserAccountRelationMapper" >
  <resultMap id="BaseResultMap" type="com.brh.p2p.admin.entity.UserAccountRelation" >
    <id column="USERID" property="userid" jdbcType="VARCHAR" />
    <id column="ACCTNO" property="acctno" jdbcType="VARCHAR" />
    <result column="ACCTTYPE" property="accttype" jdbcType="VARCHAR" />
    <result column="ACCTROLE" property="acctrole" jdbcType="VARCHAR" />
    <result column="CARDNO" property="cardno" jdbcType="VARCHAR" />
    <result column="ACCOUNTNAME" property="accountname" jdbcType="VARCHAR" />
    <result column="ACCOUNTBELONG" property="accountbelong" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="LIMITAMOUNT" property="limitamount" jdbcType="VARCHAR" />
    <result column="BELONGAREA" property="belongarea" jdbcType="VARCHAR" />
    <result column="CHECKNUMBER" property="checknumber" jdbcType="VARCHAR" />
    <result column="CARDNO2" property="cardno2" jdbcType="VARCHAR" />
    <result column="VERIFYTYPE" property="verifytype" jdbcType="VARCHAR" />
    <result column="RELATYPE" property="relatype" jdbcType="VARCHAR" />
    <result column="RELACUSTID" property="relacustid" jdbcType="VARCHAR" />
    <result column="RELACUSTID2" property="relacustid2" jdbcType="VARCHAR" />
    <result column="USERCARDTYPE" property="usercardtype" jdbcType="VARCHAR" />
    <result column="BANKMOBILE" property="bankmobile" jdbcType="VARCHAR" />
    <result column="BELONGPROVINCE" property="belongprovince" jdbcType="VARCHAR" />
    <result column="BELONGCITY" property="belongcity" jdbcType="VARCHAR" />
    <result column="BRANCHBANK" property="branchbank" jdbcType="VARCHAR" />
    <result column="BRANCHBANKNAME" property="branchbankname" jdbcType="VARCHAR" />
    <result column="INPUTTIME" property="inputtime" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="VARCHAR" />
    <result column="SPEWITHDRAWACCTFLAG" property="spewithdrawacctflag" jdbcType="VARCHAR" />
    <result column="COMPENSATIONACCTFLAG" property="compensationacctflag" jdbcType="VARCHAR" />
    <result column="BONDACCTFLAG" property="bondacctflag" jdbcType="VARCHAR" />
    <result column="INVESTFLAG" property="investflag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USERID, ACCTNO, ACCTTYPE, ACCTROLE, CARDNO, ACCOUNTNAME, ACCOUNTBELONG, STATUS, LIMITAMOUNT, 
    BELONGAREA, CHECKNUMBER, CARDNO2, VERIFYTYPE, RELATYPE, RELACUSTID, RELACUSTID2, 
    USERCARDTYPE, BANKMOBILE, BELONGPROVINCE, BELONGCITY, BRANCHBANK, BRANCHBANKNAME, 
    INPUTTIME, UPDATETIME, SPEWITHDRAWACCTFLAG, COMPENSATIONACCTFLAG, BONDACCTFLAG, INVESTFLAG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.brh.p2p.admin.entity.UserAccountRelationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from USER_ACCOUNT_RELATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.brh.p2p.admin.entity.UserAccountRelationKey" >
    select 
    <include refid="Base_Column_List" />
    from USER_ACCOUNT_RELATION
    where USERID = #{userid,jdbcType=VARCHAR}
      and ACCTNO = #{acctno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.brh.p2p.admin.entity.UserAccountRelationKey" >
    delete from USER_ACCOUNT_RELATION
    where USERID = #{userid,jdbcType=VARCHAR}
      and ACCTNO = #{acctno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.brh.p2p.admin.entity.UserAccountRelationExample" >
    delete from USER_ACCOUNT_RELATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.brh.p2p.admin.entity.UserAccountRelation" >
    insert into USER_ACCOUNT_RELATION (USERID, ACCTNO, ACCTTYPE, 
      ACCTROLE, CARDNO, ACCOUNTNAME, 
      ACCOUNTBELONG, STATUS, LIMITAMOUNT, 
      BELONGAREA, CHECKNUMBER, CARDNO2, 
      VERIFYTYPE, RELATYPE, RELACUSTID, 
      RELACUSTID2, USERCARDTYPE, BANKMOBILE, 
      BELONGPROVINCE, BELONGCITY, BRANCHBANK, 
      BRANCHBANKNAME, INPUTTIME, UPDATETIME, 
      SPEWITHDRAWACCTFLAG, COMPENSATIONACCTFLAG, 
      BONDACCTFLAG, INVESTFLAG)
    values (#{userid,jdbcType=VARCHAR}, #{acctno,jdbcType=VARCHAR}, #{accttype,jdbcType=VARCHAR}, 
      #{acctrole,jdbcType=VARCHAR}, #{cardno,jdbcType=VARCHAR}, #{accountname,jdbcType=VARCHAR}, 
      #{accountbelong,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{limitamount,jdbcType=VARCHAR}, 
      #{belongarea,jdbcType=VARCHAR}, #{checknumber,jdbcType=VARCHAR}, #{cardno2,jdbcType=VARCHAR}, 
      #{verifytype,jdbcType=VARCHAR}, #{relatype,jdbcType=VARCHAR}, #{relacustid,jdbcType=VARCHAR}, 
      #{relacustid2,jdbcType=VARCHAR}, #{usercardtype,jdbcType=VARCHAR}, #{bankmobile,jdbcType=VARCHAR}, 
      #{belongprovince,jdbcType=VARCHAR}, #{belongcity,jdbcType=VARCHAR}, #{branchbank,jdbcType=VARCHAR}, 
      #{branchbankname,jdbcType=VARCHAR}, #{inputtime,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, 
      #{spewithdrawacctflag,jdbcType=VARCHAR}, #{compensationacctflag,jdbcType=VARCHAR}, 
      #{bondacctflag,jdbcType=VARCHAR}, #{investflag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.brh.p2p.admin.entity.UserAccountRelation" >
    insert into USER_ACCOUNT_RELATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="acctno != null" >
        ACCTNO,
      </if>
      <if test="accttype != null" >
        ACCTTYPE,
      </if>
      <if test="acctrole != null" >
        ACCTROLE,
      </if>
      <if test="cardno != null" >
        CARDNO,
      </if>
      <if test="accountname != null" >
        ACCOUNTNAME,
      </if>
      <if test="accountbelong != null" >
        ACCOUNTBELONG,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="limitamount != null" >
        LIMITAMOUNT,
      </if>
      <if test="belongarea != null" >
        BELONGAREA,
      </if>
      <if test="checknumber != null" >
        CHECKNUMBER,
      </if>
      <if test="cardno2 != null" >
        CARDNO2,
      </if>
      <if test="verifytype != null" >
        VERIFYTYPE,
      </if>
      <if test="relatype != null" >
        RELATYPE,
      </if>
      <if test="relacustid != null" >
        RELACUSTID,
      </if>
      <if test="relacustid2 != null" >
        RELACUSTID2,
      </if>
      <if test="usercardtype != null" >
        USERCARDTYPE,
      </if>
      <if test="bankmobile != null" >
        BANKMOBILE,
      </if>
      <if test="belongprovince != null" >
        BELONGPROVINCE,
      </if>
      <if test="belongcity != null" >
        BELONGCITY,
      </if>
      <if test="branchbank != null" >
        BRANCHBANK,
      </if>
      <if test="branchbankname != null" >
        BRANCHBANKNAME,
      </if>
      <if test="inputtime != null" >
        INPUTTIME,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="spewithdrawacctflag != null" >
        SPEWITHDRAWACCTFLAG,
      </if>
      <if test="compensationacctflag != null" >
        COMPENSATIONACCTFLAG,
      </if>
      <if test="bondacctflag != null" >
        BONDACCTFLAG,
      </if>
      <if test="investflag != null" >
        INVESTFLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="acctno != null" >
        #{acctno,jdbcType=VARCHAR},
      </if>
      <if test="accttype != null" >
        #{accttype,jdbcType=VARCHAR},
      </if>
      <if test="acctrole != null" >
        #{acctrole,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null" >
        #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null" >
        #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="accountbelong != null" >
        #{accountbelong,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="limitamount != null" >
        #{limitamount,jdbcType=VARCHAR},
      </if>
      <if test="belongarea != null" >
        #{belongarea,jdbcType=VARCHAR},
      </if>
      <if test="checknumber != null" >
        #{checknumber,jdbcType=VARCHAR},
      </if>
      <if test="cardno2 != null" >
        #{cardno2,jdbcType=VARCHAR},
      </if>
      <if test="verifytype != null" >
        #{verifytype,jdbcType=VARCHAR},
      </if>
      <if test="relatype != null" >
        #{relatype,jdbcType=VARCHAR},
      </if>
      <if test="relacustid != null" >
        #{relacustid,jdbcType=VARCHAR},
      </if>
      <if test="relacustid2 != null" >
        #{relacustid2,jdbcType=VARCHAR},
      </if>
      <if test="usercardtype != null" >
        #{usercardtype,jdbcType=VARCHAR},
      </if>
      <if test="bankmobile != null" >
        #{bankmobile,jdbcType=VARCHAR},
      </if>
      <if test="belongprovince != null" >
        #{belongprovince,jdbcType=VARCHAR},
      </if>
      <if test="belongcity != null" >
        #{belongcity,jdbcType=VARCHAR},
      </if>
      <if test="branchbank != null" >
        #{branchbank,jdbcType=VARCHAR},
      </if>
      <if test="branchbankname != null" >
        #{branchbankname,jdbcType=VARCHAR},
      </if>
      <if test="inputtime != null" >
        #{inputtime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="spewithdrawacctflag != null" >
        #{spewithdrawacctflag,jdbcType=VARCHAR},
      </if>
      <if test="compensationacctflag != null" >
        #{compensationacctflag,jdbcType=VARCHAR},
      </if>
      <if test="bondacctflag != null" >
        #{bondacctflag,jdbcType=VARCHAR},
      </if>
      <if test="investflag != null" >
        #{investflag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.brh.p2p.admin.entity.UserAccountRelationExample" resultType="java.lang.Integer" >
    select count(*) from USER_ACCOUNT_RELATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update USER_ACCOUNT_RELATION
    <set >
      <if test="record.userid != null" >
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.acctno != null" >
        ACCTNO = #{record.acctno,jdbcType=VARCHAR},
      </if>
      <if test="record.accttype != null" >
        ACCTTYPE = #{record.accttype,jdbcType=VARCHAR},
      </if>
      <if test="record.acctrole != null" >
        ACCTROLE = #{record.acctrole,jdbcType=VARCHAR},
      </if>
      <if test="record.cardno != null" >
        CARDNO = #{record.cardno,jdbcType=VARCHAR},
      </if>
      <if test="record.accountname != null" >
        ACCOUNTNAME = #{record.accountname,jdbcType=VARCHAR},
      </if>
      <if test="record.accountbelong != null" >
        ACCOUNTBELONG = #{record.accountbelong,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.limitamount != null" >
        LIMITAMOUNT = #{record.limitamount,jdbcType=VARCHAR},
      </if>
      <if test="record.belongarea != null" >
        BELONGAREA = #{record.belongarea,jdbcType=VARCHAR},
      </if>
      <if test="record.checknumber != null" >
        CHECKNUMBER = #{record.checknumber,jdbcType=VARCHAR},
      </if>
      <if test="record.cardno2 != null" >
        CARDNO2 = #{record.cardno2,jdbcType=VARCHAR},
      </if>
      <if test="record.verifytype != null" >
        VERIFYTYPE = #{record.verifytype,jdbcType=VARCHAR},
      </if>
      <if test="record.relatype != null" >
        RELATYPE = #{record.relatype,jdbcType=VARCHAR},
      </if>
      <if test="record.relacustid != null" >
        RELACUSTID = #{record.relacustid,jdbcType=VARCHAR},
      </if>
      <if test="record.relacustid2 != null" >
        RELACUSTID2 = #{record.relacustid2,jdbcType=VARCHAR},
      </if>
      <if test="record.usercardtype != null" >
        USERCARDTYPE = #{record.usercardtype,jdbcType=VARCHAR},
      </if>
      <if test="record.bankmobile != null" >
        BANKMOBILE = #{record.bankmobile,jdbcType=VARCHAR},
      </if>
      <if test="record.belongprovince != null" >
        BELONGPROVINCE = #{record.belongprovince,jdbcType=VARCHAR},
      </if>
      <if test="record.belongcity != null" >
        BELONGCITY = #{record.belongcity,jdbcType=VARCHAR},
      </if>
      <if test="record.branchbank != null" >
        BRANCHBANK = #{record.branchbank,jdbcType=VARCHAR},
      </if>
      <if test="record.branchbankname != null" >
        BRANCHBANKNAME = #{record.branchbankname,jdbcType=VARCHAR},
      </if>
      <if test="record.inputtime != null" >
        INPUTTIME = #{record.inputtime,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        UPDATETIME = #{record.updatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.spewithdrawacctflag != null" >
        SPEWITHDRAWACCTFLAG = #{record.spewithdrawacctflag,jdbcType=VARCHAR},
      </if>
      <if test="record.compensationacctflag != null" >
        COMPENSATIONACCTFLAG = #{record.compensationacctflag,jdbcType=VARCHAR},
      </if>
      <if test="record.bondacctflag != null" >
        BONDACCTFLAG = #{record.bondacctflag,jdbcType=VARCHAR},
      </if>
      <if test="record.investflag != null" >
        INVESTFLAG = #{record.investflag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update USER_ACCOUNT_RELATION
    set USERID = #{record.userid,jdbcType=VARCHAR},
      ACCTNO = #{record.acctno,jdbcType=VARCHAR},
      ACCTTYPE = #{record.accttype,jdbcType=VARCHAR},
      ACCTROLE = #{record.acctrole,jdbcType=VARCHAR},
      CARDNO = #{record.cardno,jdbcType=VARCHAR},
      ACCOUNTNAME = #{record.accountname,jdbcType=VARCHAR},
      ACCOUNTBELONG = #{record.accountbelong,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      LIMITAMOUNT = #{record.limitamount,jdbcType=VARCHAR},
      BELONGAREA = #{record.belongarea,jdbcType=VARCHAR},
      CHECKNUMBER = #{record.checknumber,jdbcType=VARCHAR},
      CARDNO2 = #{record.cardno2,jdbcType=VARCHAR},
      VERIFYTYPE = #{record.verifytype,jdbcType=VARCHAR},
      RELATYPE = #{record.relatype,jdbcType=VARCHAR},
      RELACUSTID = #{record.relacustid,jdbcType=VARCHAR},
      RELACUSTID2 = #{record.relacustid2,jdbcType=VARCHAR},
      USERCARDTYPE = #{record.usercardtype,jdbcType=VARCHAR},
      BANKMOBILE = #{record.bankmobile,jdbcType=VARCHAR},
      BELONGPROVINCE = #{record.belongprovince,jdbcType=VARCHAR},
      BELONGCITY = #{record.belongcity,jdbcType=VARCHAR},
      BRANCHBANK = #{record.branchbank,jdbcType=VARCHAR},
      BRANCHBANKNAME = #{record.branchbankname,jdbcType=VARCHAR},
      INPUTTIME = #{record.inputtime,jdbcType=VARCHAR},
      UPDATETIME = #{record.updatetime,jdbcType=VARCHAR},
      SPEWITHDRAWACCTFLAG = #{record.spewithdrawacctflag,jdbcType=VARCHAR},
      COMPENSATIONACCTFLAG = #{record.compensationacctflag,jdbcType=VARCHAR},
      BONDACCTFLAG = #{record.bondacctflag,jdbcType=VARCHAR},
      INVESTFLAG = #{record.investflag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.brh.p2p.admin.entity.UserAccountRelation" >
    update USER_ACCOUNT_RELATION
    <set >
      <if test="accttype != null" >
        ACCTTYPE = #{accttype,jdbcType=VARCHAR},
      </if>
      <if test="acctrole != null" >
        ACCTROLE = #{acctrole,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null" >
        CARDNO = #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null" >
        ACCOUNTNAME = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="accountbelong != null" >
        ACCOUNTBELONG = #{accountbelong,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="limitamount != null" >
        LIMITAMOUNT = #{limitamount,jdbcType=VARCHAR},
      </if>
      <if test="belongarea != null" >
        BELONGAREA = #{belongarea,jdbcType=VARCHAR},
      </if>
      <if test="checknumber != null" >
        CHECKNUMBER = #{checknumber,jdbcType=VARCHAR},
      </if>
      <if test="cardno2 != null" >
        CARDNO2 = #{cardno2,jdbcType=VARCHAR},
      </if>
      <if test="verifytype != null" >
        VERIFYTYPE = #{verifytype,jdbcType=VARCHAR},
      </if>
      <if test="relatype != null" >
        RELATYPE = #{relatype,jdbcType=VARCHAR},
      </if>
      <if test="relacustid != null" >
        RELACUSTID = #{relacustid,jdbcType=VARCHAR},
      </if>
      <if test="relacustid2 != null" >
        RELACUSTID2 = #{relacustid2,jdbcType=VARCHAR},
      </if>
      <if test="usercardtype != null" >
        USERCARDTYPE = #{usercardtype,jdbcType=VARCHAR},
      </if>
      <if test="bankmobile != null" >
        BANKMOBILE = #{bankmobile,jdbcType=VARCHAR},
      </if>
      <if test="belongprovince != null" >
        BELONGPROVINCE = #{belongprovince,jdbcType=VARCHAR},
      </if>
      <if test="belongcity != null" >
        BELONGCITY = #{belongcity,jdbcType=VARCHAR},
      </if>
      <if test="branchbank != null" >
        BRANCHBANK = #{branchbank,jdbcType=VARCHAR},
      </if>
      <if test="branchbankname != null" >
        BRANCHBANKNAME = #{branchbankname,jdbcType=VARCHAR},
      </if>
      <if test="inputtime != null" >
        INPUTTIME = #{inputtime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="spewithdrawacctflag != null" >
        SPEWITHDRAWACCTFLAG = #{spewithdrawacctflag,jdbcType=VARCHAR},
      </if>
      <if test="compensationacctflag != null" >
        COMPENSATIONACCTFLAG = #{compensationacctflag,jdbcType=VARCHAR},
      </if>
      <if test="bondacctflag != null" >
        BONDACCTFLAG = #{bondacctflag,jdbcType=VARCHAR},
      </if>
      <if test="investflag != null" >
        INVESTFLAG = #{investflag,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
      and ACCTNO = #{acctno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.brh.p2p.admin.entity.UserAccountRelation" >
    update USER_ACCOUNT_RELATION
    set ACCTTYPE = #{accttype,jdbcType=VARCHAR},
      ACCTROLE = #{acctrole,jdbcType=VARCHAR},
      CARDNO = #{cardno,jdbcType=VARCHAR},
      ACCOUNTNAME = #{accountname,jdbcType=VARCHAR},
      ACCOUNTBELONG = #{accountbelong,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      LIMITAMOUNT = #{limitamount,jdbcType=VARCHAR},
      BELONGAREA = #{belongarea,jdbcType=VARCHAR},
      CHECKNUMBER = #{checknumber,jdbcType=VARCHAR},
      CARDNO2 = #{cardno2,jdbcType=VARCHAR},
      VERIFYTYPE = #{verifytype,jdbcType=VARCHAR},
      RELATYPE = #{relatype,jdbcType=VARCHAR},
      RELACUSTID = #{relacustid,jdbcType=VARCHAR},
      RELACUSTID2 = #{relacustid2,jdbcType=VARCHAR},
      USERCARDTYPE = #{usercardtype,jdbcType=VARCHAR},
      BANKMOBILE = #{bankmobile,jdbcType=VARCHAR},
      BELONGPROVINCE = #{belongprovince,jdbcType=VARCHAR},
      BELONGCITY = #{belongcity,jdbcType=VARCHAR},
      BRANCHBANK = #{branchbank,jdbcType=VARCHAR},
      BRANCHBANKNAME = #{branchbankname,jdbcType=VARCHAR},
      INPUTTIME = #{inputtime,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=VARCHAR},
      SPEWITHDRAWACCTFLAG = #{spewithdrawacctflag,jdbcType=VARCHAR},
      COMPENSATIONACCTFLAG = #{compensationacctflag,jdbcType=VARCHAR},
      BONDACCTFLAG = #{bondacctflag,jdbcType=VARCHAR},
      INVESTFLAG = #{investflag,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=VARCHAR}
      and ACCTNO = #{acctno,jdbcType=VARCHAR}
  </update>
</mapper>